.watch-container {
    width: 100%;
    
}

.watch-div {
    display: block;
    margin: 0 auto;
    background-color: blue;
}

.container-holder {
    display: block;
    margin: 0 auto;

}

.btn {
    border: solid black;
}